asgiref==3.4.1
CacheControl==0.12.6
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
crytic-compile==0.2.1
fastapi==0.68.1
grpcio==1.39.0
h11==0.12.0
httplib2==0.19.1
httptools==0.2.0
idna==3.2
msgpack==1.0.2
packaging==21.0
prettytable==2.2.0
proto-plus==1.19.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyparsing==2.4.7
pysha3==1.0.2
python-dotenv==0.19.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
six==1.16.0
slither-analyzer==0.8.1
solc-select==0.2.1
starlette==0.14.2
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.6
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
wcwidth==0.2.5
websockets==9.1
